@use "styles/mixins"

.backdrop
  position: fixed
  z-index: 1000
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.6)
  @include mixins.flex-centered

.content
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
  background-color: #fff
  padding: 40px
  position: relative
  border-radius: 30px

.closeButton
  position: absolute
  width: 30px
  height: 30px
  padding: 0
  right: 20px
  top: 20px
  border: 0
  background-color: transparent
  border-radius: 50%
  transition: 0.2s
  &:hover
    background-color: rgba(0, 0, 0, 0.1)