@use "styles/mixins"

.Intro
  background-color: #d5e7e8
  height: 600px

  .content
    @include mixins.flex-centered
    height: 100%
    flex-direction: column

    .label
      font-size: 2.5em
      margin-bottom: 30px
