.content
  h1
    font-size: 1.5em
    margin-bottom: 20px

  .grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 50px

    .imageContainer
      background-color: black
      min-height: 100px
      border-radius: 10px

    .plates
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
      gap: 10px

    .info
      h2
        font-size: 1.25em
        margin-bottom: 20px

.plate
  background-color: black
  min-height: 30px
  border-radius: 10px
